@import 'variables';

@import 'bootstrap/bootstrap';

// * {
// 	color: $teal;
// }

@import 'forecast';
@import 'generic';
@import 'search';


/*
.alert {
	font-size: 1.5rem;

	&.alert-danger {
		font-weight: 700;
	}
}

.btn {
	font-weight: 700;

	&:hover {
		font-style: italic;
	}

	&:after {
		content: '🔁';
	}
}
*/
